@font-face {
	font-family: "Geist";
	src: url("/fonts/Geist/Geist[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geist";
	src: url("/fonts/Geist/Geist-Italic[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	src: url("/fonts/Geist/GeistMono[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Geist Mono";
	src: url("/fonts/Geist/GeistMono-Italic[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}
